@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

body {
    background:#F7F7F7;
    color:#009688;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
}

body{
    width: 100%;
    background: -webkit-linear-gradient(left, #009688, #009688, #009688, #009688);
    background: linear-gradient(to right, #009688, #009688, #009688, #009688);
    background-size: 100% 100%;
    -webkit-animation: HeroBG 20s ease infinite;
    animation: HeroBG 20s ease infinite;
}


.title {
  background-color: #24b7a8;
  color: white;
  font-family:inherit;
  font-size: 50px;
  text-align: center;
}

.title1{
  background-color: #24b7a8;

}

.savely {
  text-align: center;
  background-color:#24b7a8;

}

p {
  font-size: 15px;
  text-align:center;
  color: #fff;
  background-color: #24b7a8;
  direction: rtl;
}

button{
  color: #24b7a8;
  text-decoration: none;
  background: #fff;
  padding: 7px;
  border-radius: 25px;
  text-align: center;
}


.titlesb {
    color: #fff;
    font-size: 40px;

}

.titlesb1 {
    color: #fff;

    font-size: 40px;
  }

.clicky {
  text-align: center;
  background-color:#24b7a8;
  direction: rtl;

}
